@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body{
  background-color: #f9f9f9;
}

ul{
  width: 100%;
  padding: 0;
}

li{
  width: 100%;
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid gray;
  padding: 5px 5px 5px 40px;
}


input{
  width: 100%;
  background-color: #f9f9f9;
  height: 40px;
  border: 1px solid grey;
  padding-left: 40px;
  border-radius:30px;
}

input:focus{
  background-color: transparent;
  outline: none;
}

.todo-list{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main{
  border: 1px solid grey;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
}

.visible{
  display: block;
}

.disable{
  display: none;
}

.tasks-left{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid grey;
  padding-left: 40px;
}